@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap');

*, 
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --font-family-primary: 'Alegreya Sans', sans-serif;
    --font-family-secondary: 'Source Code Pro', monospace;

    --font-weight-reg: 300;
    --font-weight-bold: 900;

    --light: rgba(68, 19, 19, 0.856);
    --dark: #3f3636;
    --accent: rgb(25, 235, 35);

    --font-size-h1: 3rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.25rem;
    --font-size-body: 1rem;

}

body{
    background: var(--light);
    color: var(--dark);
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    line-height: 1.6;
    /* max-width: 1200px; */

}




/* hedings */
h1, h2, h3 {
    line-height: 1;
    margin: 0;
    color: aliceblue;
}

h1 {font-size: var(--font-size-h1)}
h2 {font-size: var(--font-size-h2)}
h3 {font-size: var(--font-size-h3)}

strong {
    font-weight: var(--font-weight-bold);
}

:focus {
    outline: 3px solid var(--accent);
    outline-offset: 3px;
}

img{
    width: 300px;
    margin-top: 10px;
    border: none;
    border-radius: 20px 0 20px 0;
    box-shadow: 0 4px 8px 0 rgba(10, 196, 10, 0.753), 0 6px 20px 0 rgba(107, 58, 58, 0.19);
    display: block;
}

/* intro */
.title {
    margin-bottom: 0.25em;
    margin-top: 20px;
}

.title--intro {
    font-weight: var(--font-weight-reg);
}

.title--intro strong {
    display: block;
    padding-top: 10px;
}
.subtitle {
    margin: 0;
    font-size: var(--font-size-h3);
}

.subtitle--intro, 
.section__subtitle--about {
    background: var(--accent);
    padding: 0.25em 1em;
    font-family: var(--font-family-secondary);
}

.my-name {
    position: relative;
}

/* Meadia quaery */
@media (min-width: 600px) {
    .my-name {
        display: grid;
        column-gap: 1em;
        width: min-content;
        margin: 20px auto;
        grid-template-areas: 
                "img title"
                "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .lewis {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;

        position: relative;
        left: -1.5em;
        width: calc(100% + 12em);
    }
    .social{
        position: relative; 
        align-items: center;
        column-gap: 0.5em;

        grid-column: 2;
        width: calc(100% + 2em); 


    }
}

.subtitle--intro {
    display: inline-block;
}

.social li{
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    border: none;
}

a{
    color: black;
    font-size: 20px;
    font-weight: bold;
}


/* About */

.about{
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark);
    background-image: url("../Images/laptop.jpeg");
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;

}
@media (min-width: 600px) {
    .about-me{
        text-align: justify;
        padding-top: 20px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .details{
        font-family: var(--font-family-secondary);
        font-weight: var(--font-weight-reg);
        font-size: var();
        max-width: 700px;
        margin: 10px auto;
        color: rgb(151, 163, 163);
        font-size: var(--font-size-body);

    
}
}





