:root{
    --navbar-text-color: #70db32;
    --navbar-menu-items-color: yellow; 
    --menu-items-button-color: rgb(28, 153, 28);
}
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap');

header{
    padding: 0px 0px;
    z-index: 10;
    top: 0;
    left: o;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(115deg, rgba(42, 42, 44, 0.7), rgba(141, 90, 90, 0.7));
    background-size: cover;

}

.nav-bar > ul{
    display: flex;
    margin: 0 auto;
    padding: 10px 50px;
    justify-content: center;
    width: 100%;
    max-width: 1500px;    
}


.nav-bar{
    display: flex;
    align-items: center;
}

.nav-bar ul li {
    list-style: none;
    font-size: 20px;
    padding: 20px 20px;
    color: var(--navbar-text-color);
}

a{
    text-decoration: none;
    cursor: pointer;
}

